
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  user-select: text;
  box-sizing: border-box;
}

body {
  background-image: url("https://github.com/pascalrobot/pascalsportfolio/blob/948bd318f843de8686097244f65f73280cff589a/imgs/SFONDO.png?raw=true");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 890px) {
}

@media (min-width: 890px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {

.desktop {
    height: 500px;
    width: auto;
    margin-left: 9%;
    margin-right: 9%; 
    background-color: rgba(126, 131, 135, 0.532); 
    padding: 20px; 
}
    
}