
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  user-select: text;
  box-sizing: border-box;
}

body {
  background-image: url("");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 890px) {
}

@media (min-width: 890px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
    
}