
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  user-select: text;
  box-sizing: border-box;
}

body {
  background-image: url("https://github.com/pascalrobot/pascalsportfolio/blob/3350d226e26015fa4bee69759c5eadb12a184a16/imgs/SFONDO.png?raw=truehttps://github.com/pascalrobot/pascalsportfolio/blob/cfa5ae2f8edc3c78da15bc7a382cf600efcd276a/imgs/SFONDO.jpg?raw=true");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 890px) {
}

@media (min-width: 890px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {

.desktop {
    height: 500px;
    width: auto;
    margin-left: 9%;
    margin-right: 9%; 
    background-color: rgba(221, 221, 221);
    padding: 20px; 
    margin-top: 150px;
    border: groove;
    box-shadow: 5px 10px 30px rgb(49, 49, 49);
}
    
}